<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<!-- Data Source -->
    <bean id="dataSource" destroy-method="close" class="com.mysql.jdbc.jdbc2.optional.MysqlConnectionPoolDataSource">
        <property name="url" value="jdbc:mysql://localhost/flippy"/>
        <property name="user" value="root"/>
        <property name="password" value=""/>
    </bean>

    <bean id="ChatLogService" class="com.flippy.service.ChatLogDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

	<bean id="RoomDAO" class="com.flippy.service.RoomDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
</beans>